<h1>Dinamita de datos</h1>
<h2>Análisis de datos</h2>
<img src='ciclo.jpg' width=500 >
<p>Ciclo de análisis de datos propuestos por IBM</p>

<h2>Business Understanding</h2>
<p>Nuestro objetivo en este analisis sera:</p>
<b>Analizar la relación entre la percepción de seguridad, la incidencia de delitos y su impacto en el clima de negocios en Bogotá</b>

<h2>Analytic Approach</h2>
David buscar??

<h2>Data Requiriments</h2>
Leidy nos dice esto

<h2>Data Collection and Data Understanding</h2>
Se especifica a detalle estos pasos en el informe final.

<h2>Data Preparation</h2>

<h3>Lectura de documentos donde estan los datos proporcionados</h3>

In [1]:
pip install seaborn pandas numpy

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.1)
Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.26.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\LENOVO\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

<h4>datos del ECN

2020

In [3]:
ruta ="Bases de datos/1.4. Bases CCB/ECN/2020/Base_2020.csv"
ECN2020 = pd.read_csv(ruta,encoding='iso-8859-1')
ECN2020.head(3)
sns.pairplot(data)
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'Bases de datos/1.4. Bases CCB/ECN/2020/Base_2020.csv'

2021

In [10]:
ruta ="Bases de datos/1.4. Bases CCB/ECN/2021/Base_2021.csv"
ECN2021 = pd.read_csv(ruta,encoding='iso-8859-1')
ECN2021.head(3)

,Id_Encuesta,Ao,SECTOR,TAMAO,P38_1,P38_2,P38_3,P38_4,P38_90,P39,...,P57B,P57C,P57D,P57E,P57F,P57G,P57H,P58,P59,fax expansin
0,01_DGC_Clima_Negocios,2021,Industrias,Pequea,NaN,NaN,Observatorio de Transparencia y Anticorrupcin...,NaN,NaN,Alta,...,No,Si,No,No,No,No,No,Si,Aplicacin A Denunciar,33.90526
1,01_DGC_Clima_Negocios,2021,Servicios,Micro,NaN,NaN,NaN,Plan Anticorrupcin y de Atencin al Ciudadano...,NaN,Baja,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.36765
2,01_DGC_Clima_Negocios,2021,Industrias,Mediana,NaN,Estatuto Anticorrupcin (Ley 1474 del 2011),NaN,Plan Anticorrupcin y de Atencin al Ciudadano...,NaN,Alta,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.64583

2022

In [11]:
ruta ="Bases de datos/1.4. Bases CCB/ECN/2022/Base_2022.csv"
ECN2022 = pd.read_csv(ruta,encoding='iso-8859-1')
ECN2022.head(3)

,Id_encuesta,Año,F2,F3,F4,P41.1,P41.2,P41.3,P41.4,P42,...,P59.3,P59.4,P59.5,P59.6,P59.7,P59.8,P59.9,P60,P61,F.EXPANSIÓN
0,001GDC_Clima_de_los_Negocios,2022.0,11001.0,3.0,4.0,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.528302
1,001GDC_Clima_de_los_Negocios,2022.0,11001.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.207692
2,001GDC_Clima_de_los_Negocios,2022.0,11001.0,2.0,4.0,NaN,NaN,NaN,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,3.0,37.800000

<h4>datos del EPV

2019-1

In [14]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2019/2019-1/Base2019_1.csv"
EPV20191 = pd.read_csv(ruta,encoding='iso-8859-1')
EPV20191.head(3)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14840\437853442.py:2: DtypeWarning: Columns (70,126,145,168) have mixed types. Specify dtype option on import or set low_memory=False.
  EPV20191 = pd.read_csv(ruta,encoding='iso-8859-1')

,ID_ENCUESTA,F2,EDAD,P1,P2,P3,P4,P5,P6,P7,...,P445_2,P445_3,P445_4,P445_5,P445_6,P445_7,P445_97,P445_99,P445_99_CUAL,FEX
0,ik4443099b-dfa6-43cf-b4c6-42cae171a954,11,26.0,3,2,1,2,3,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,El libro del CÃÂ³digo,2277.001543
1,ik3a9fed64-1cb4-422b-b18d-c4fc8759a7fe,14,30.0,4,1,1,3,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.709194
2,ikb82a37d9-f467-4784-b3fb-37d90818382a,14,34.0,4,2,5,3,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Cuadernillo,78.709194

2019-2

In [16]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2019/2019-2/Base2019_2.csv"
EPV20192 = pd.read_csv(ruta,encoding='iso-8859-1')
EPV20192.head(3)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14840\3008419482.py:2: DtypeWarning: Columns (70,126,145,168) have mixed types. Specify dtype option on import or set low_memory=False.
  EPV20192 = pd.read_csv(ruta,encoding='iso-8859-1')

,ID_ENCUESTA,F2,EDAD,P1,P2,P3,P4,P5,P6,P7,...,P445_2,P445_3,P445_4,P445_5,P445_6,P445_7,P445_97,P445_99,P445_99_CUAL,FEX
0,ik4443099b-dfa6-43cf-b4c6-42cae171a954,11,26.0,3,2,1,2,3,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,El libro del CÃÂ³digo,2277.001543
1,ik3a9fed64-1cb4-422b-b18d-c4fc8759a7fe,14,30.0,4,1,1,3,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.709194
2,ikb82a37d9-f467-4784-b3fb-37d90818382a,14,34.0,4,2,5,3,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Cuadernillo,78.709194

2020

In [20]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2020/Base_2020.csv"
EPV2020 = pd.read_csv(ruta,encoding='iso-8859-1')
EPV2020.head(3)

,Id_Encuesta,Id_Encuestado,LOCALIDAD,P1.1 Rango de edad,ESTRATO,P1. ¿Cuántos años tiene? (ENC: ANOTE LA EDAD EXACTA Y TAMBIEN SELECCIONE EL RANGO),P2,P6,P7,P106,...,P412_C,P412_D,P412_E,P412_F,P417,P418,P421,P444.,CLAVE,FEX
0,o 020SEG_Percepción_y_Victimización_en_Bogotá,1,Rafael Uribe,De 36 a 45 años,Estrato 3,43,Jefe(a),Independiente,Femenino,Ha Aumentado,...,NaN,NaN,NaN,NaN,No,NaN,NaN,Si,Rafael UribeEstrato 3,1534.636400
1,o 020SEG_Percepción_y_Victimización_en_Bogotá,2,Usaquén,De 36 a 45 años,Estrato 4,37,Jefe(a),Empleado,Femenino,Ha disminuido,...,NaN,NaN,NaN,NaN,No,NaN,NaN,Si,UsaquénEstrato 4,1543.954394
2,o 020SEG_Percepción_y_Victimización_en_Bogotá,3,Chapinero,Más de 55 años,Estrato 6,68,Jefe(a),Independiente,Masculino,Ha Aumentado,...,NaN,NaN,NaN,NaN,No,NaN,NaN,No,ChapineroEstrato 6,1560.374824

2021

In [22]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2021/Base2021.csv"
EPV2021 = pd.read_csv(ruta,encoding='iso-8859-1')
EPV2021.head(3)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14840\3850154442.py:2: DtypeWarning: Columns (68,71,74,75,86,92,93,104,107,110,111) have mixed types. Specify dtype option on import or set low_memory=False.
  EPV2021 = pd.read_csv(ruta,encoding='iso-8859-1')

,NUMERO,CONSECUTIVO,CIUDAD,GENERO,EDAD,P1_RANGO_EDAD,LOCALIDAD,ESTRATO,P106,P102,...,P412_E,P412_F,P417,P418,P421,P444,P2,P6,P3,FEX
0,37.0,1,1,1,29,3,1,1,4,2,...,NaN,NaN,2,NaN,NaN,1,2,1,1,1100.314
1,21240.0,2,1,2,22,2,11,2,4,2,...,NaN,NaN,2,NaN,NaN,2,2,1,1,1024.945
2,15465.0,3,1,1,62,10,10,3,4,1,...,NaN,NaN,2,NaN,NaN,2,11,6,1,1555.948

2022

In [23]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2022/Base2022.csv"
EPV2022 = pd.read_csv(ruta,encoding='iso-8859-1')
EPV2022.head(3)

,ID_ENCUESTA,ID_ENCUESTADO,LOCALIDAD,SEXO,ESTRATO,EDAD,EDADRANGO,P2,P2_1,P6,...,P412_3,P412_4,P412_5,P412_6,P417,P421,P444,FEX,_UUID,_INDEX
0,020SEG_PercepciÃ³n_y_VictimizaciÃ³n_en_BogotÃ¡,182915053,4,1,1,41.0,3,3,NaN,2,...,4.0,4.0,4.0,4.0,1,4.0,2,471.489789,5ba378bb-0405-4718-b40b-ccc8ab88d146,1830
1,020SEG_PercepciÃ³n_y_VictimizaciÃ³n_en_BogotÃ¡,184039071,5,1,1,71.0,6,1,NaN,6,...,NaN,NaN,NaN,NaN,1,1.0,2,471.489789,587271a5-1b42-419a-8785-624eb66debe5,3407
2,020SEG_PercepciÃ³n_y_VictimizaciÃ³n_en_BogotÃ¡,184116519,5,1,1,64.0,5,1,NaN,2,...,5.0,5.0,5.0,5.0,1,5.0,1,471.489789,8bbec0be-3e57-4193-9ee2-cbb42771eabf,3586

2023

In [24]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2023/Base2023.csv"
EPV2023 = pd.read_csv(ruta,encoding='iso-8859-1')
EPV2023.head(3)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14840\2825632725.py:2: DtypeWarning: Columns (56,60) have mixed types. Specify dtype option on import or set low_memory=False.
  EPV2023 = pd.read_csv(ruta,encoding='iso-8859-1')

,ID_INTERNO,FECHA,NOMBRE_LOCALIDAD,NOMBRE_BARRIO,CODIGO_ESTRATO,SEXO,ESTRATO,EDAD_EXACTA,EDAD_RANGO,P2,...,P445_1,P445_2,P445_3,P445_4,P445_5,P445_6,P445_7,P445_8,ID,FEX
0,9719,2023-07-11,PUENTE ARANDA,GALAN,3,2,3,40.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,252055819,231.210990
1,13668,2023-07-18,FONTIBON,BELEN FONTIBON,3,2,3,84.0,6,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,253885992,214.063311
2,12647,2023-07-15,ANTONIO NARINO,EDUARDO FREY,3,2,3,70.0,5,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,253166336,44.118103

<h4>datos del EPC

2016

In [25]:
ruta ="Bases de datos/1.4. Bases adicionales/EPC/2016//Base2016.csv"
EPC2016 = pd.read_csv(ruta,encoding='iso-8859-1')
EPC2016.head(3)

,SbjNum,LOCALIDAD,CIUDAD_DEM,NSE,EDAD_DEM,SEXO_DEM,FRANJA_C,DIA_SEMANA,ZONA_DEM,COMUNA_DEM,...,CPP1_1,CPP1_2,CPP1_3,CPP1_4,CPP1_5,CPP1_6,CPP2,CPP3,CC9,Pon
0,38610336,19,11001,2,5,2,2,4,2,19,...,92,NaN,NaN,NaN,NaN,NaN,2,4,1,0.478224
1,38613530,19,11001,2,1,2,3,4,2,19,...,2,NaN,NaN,NaN,NaN,NaN,5,5,2,3.871609
2,38613727,19,11001,2,5,1,3,4,2,19,...,92,NaN,NaN,NaN,NaN,NaN,1,3,1,1.342815

2017

In [27]:
ruta ="Bases de datos/1.4. Bases adicionales/EPC/2017//Base2017.csv"
EPC2017 = pd.read_csv(ruta,encoding='iso-8859-1')
EPC2017.head(3)

,NUMERO,CIUDAD,ZONAS,LOCALIDAD_COMUNA,DuraciÃ³n,D_Rangos,EDAD,SEXO,NSE,CS2_Codes,...,CC10_1,CC10_2,CC10_3,CC10_4,CC10_5,CC10_6,CC10_7,CC10_8,CC10_9,PON
0,52415778,11001,3,15,38,3,4,2,2,93.0,...,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.184301
1,52415935,11001,3,15,51,4,1,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.084609
2,52415987,11001,1,8,39,3,1,2,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.548212

2018

In [28]:
ruta ="Bases de datos/1.4. Bases adicionales/EPC/2018//Base2018.csv"
EPC2018 = pd.read_csv(ruta,encoding='iso-8859-1')
EPC2018.head(3)

,NUMERO,CODANE,IDM,SECTOR,SECCION,MANZANA,ZONAS,LOCALIDAD_COMUNA,F0,F01,...,P02AUT2,COD_BARRIO,CIUDAD,NSE,GRUPO_ESTRATOS,EDAD,SEXO,FRANJA_CAMPO,DIA_SEMANA,PON
0,47739,11001,2161,7106.0,1.0,6,5,13,1,1,...,1,3,11001,4,2,4,2,1,4,0.667366
1,47750,11001,2286,8213.0,2.0,6,5,2,1,1,...,1,3,11001,3,2,2,2,1,4,0.804713
2,47756,11001,2351,8402.0,5.0,4,6,1,1,1,...,1,159,11001,5,3,3,1,1,4,1.093152

2019

In [29]:
ruta ="Bases de datos/1.4. Bases adicionales/EPC/2019//Base2019.csv"
EPC2019 = pd.read_csv(ruta,encoding='iso-8859-1')
EPC2019.head(3)

,Numero,IDM,SECTOR,SECCION,CIUDAD,NSE_CS2_1,NSE,EDAD,SEXO,OCUPACION,...,INCIDENCIAS_2,INCIDENCIAS_3,INCIDENCIAS_4,INCIDENCIAS_6,INCIDENCIAS_7,INCIDENCIAS_8,OBSERVACIONES_INCIDENCIAS,GEOLOCATION_LATITUDE,GEOLOCATION_LONGITUDE,PON
0,127741,1280,4519,1,11001,1,1,4,1,6,...,3,0,0,0,0,0,Ninguna,4.638867,-74.196262,0.792568
1,127753,217,1401,1,11001,3,3,1,2,3,...,0,0,0,0,0,0,Ninguna,4.579076,-74.104179,0.689350
2,127769,217,1401,1,11001,3,3,4,2,2,...,3,3,0,0,0,0,La encuesta es nuy larga y no se da incentivo,4.579651,-74.103776,0.427272

<h3>ETL</h3>