<h1>Dinamita de datos</h1>
<h2>Análisis de datos</h2>
<img src="ciclo.jpg" width=500 >
<p>Ciclo de análisis de datos propuestos por IBM</p>

<h2>Business Understanding</h2>
<p>Nuestro objetivo en este analisis sera:</p>
<b>Analizar la relación entre la percepción de seguridad, la incidencia de delitos y su impacto en el clima de negocios en Bogotá</b>

fWGRGUNHGIUERG
WFGAGBHBRTSHRJYJYJYTJJJ
COSAS

<h2>Analytic Approach</h2>
David buscar??
afnakjvnoavnovbnbinbp
jnvaeuovnaeibnaekb

<h2>Data Requiriments</h2>
Leidy nos dice esto vvvvvvvvvvvvvvvvvvvvvvvvvvvvv

<h2>Data Collection and Data Understanding</h2>
Se especifica a detalle estos pasos en el informe final.

<h2>Data Preparation</h2>

<h3>Lectura de documentos donde estan los datos proporcionados</h3>

In [32]:
pip install seaborn pandas numpy statsmodels openpyxl

Requirement already satisfied: seaborn in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.13.2)
Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.1)
Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.26.4)
Requirement already satisfied: statsmodels in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.14.1)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: patsy>=0.5.4 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from statsmodels) (21.3)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.0.9)
Requirement already satisfied: six in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from patsy>=0.5.4->statsmodels) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\LENOVO\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm

<h4>datos del ECN

2020

In [80]:
ruta ="Bases de datos/1.4. Bases CCB/ECN/2020/Base_2020.csv"
listaColumnasECN = ['id_base',
                    'p_p64_p64', 
                    'p_p65_p65', 
                    'p_p66_p66', 
                    'p_p67_p67_1', 'p_p67_p67_2', 'p_p67_p67_3','p_p67_p67_4', 'p_p67_p67_5' , 'p_p67_p67_6', 'p_p68_p68',
                    #hurto,        delitosinfo,    fraude,       extorsion,      ESTAFA,      hurto auto,    denuncio
                    'p_p69_p69_1', 'p_p69_p69_2', 'p_p69_p69_3',         'p_p69_p69_4',        'p_p69_p69_5',
                    #Aplicación,  Casa de Justicia,nspección de policía   URI de la Fiscalía    GAULA
                    'fexp']

ECN2020 = pd.read_csv(ruta,encoding='iso-8859-1')
ECN2020 = ECN2020.loc[:, listaColumnasECN]
ECN2020.head(20)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12836\2446451452.py:12: DtypeWarning: Columns (36,48,207,345,444) have mixed types. Specify dtype option on import or set low_memory=False.
  ECN2020 = pd.read_csv(ruta,encoding='iso-8859-1')

,id_base,p_p64_p64,p_p65_p65,p_p66_p66,p_p67_p67_1,p_p67_p67_2,p_p67_p67_3,p_p67_p67_4,p_p67_p67_5,p_p67_p67_6,p_p68_p68,p_p69_p69_1,p_p69_p69_2,p_p69_p69_3,p_p69_p69_4,p_p69_p69_5,fexp
0,bog_1,3,1.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
1,bog_2,3,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
2,bog_3,2,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
3,bog_4,2,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
4,bog_5,2,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
5,bog_6,2,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
6,bog_7,2,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
7,bog_8,1,2.0,1,1.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,15.625954
8,bog_9,3,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
9,bog_10,3,2.0,1,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,15.625954
10,bog_11,2,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
11,bog_12,3,NaN,1,1.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,15.625954
12,bog_13,3,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
13,bog_14,1,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
14,bog_15,2,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
15,bog_16,2,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
16,bog_17,2,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
17,bog_18,2,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
18,bog_19,3,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954
19,bog_20,3,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.625954

2021

In [67]:
ruta ="Bases de datos/1.4. Bases CCB/ECN/2021/Base_2021.csv"
ruta2 ="Bases de datos/1.4. Bases CCB/ECN/2021/Base_2021(Antiguo).xlsx"
listaColumnasECN = ['P54',
                    'P55',
                    'P56',
                    'P57A','P57B',      'P57C', 'P57D',   'P57E',       'P57F',  'P57G',     'P57H',    'P58', 
                    #hurto,delitosinfo, fraude, extorsion, hurto auto, ataque,  vandalsimo, secuestro, denuncio
                    'P59',
                    #1	APLICACIÓN A DENUNCIAR, 
                    # 2	CASA DE JUSTICIA (COMISARÍA DE FAMILIA)
                    #3	INSPECCIÓN DE POLICÍA (ESTACIÓN DE POLICÍA)
                    #4	URI DE LA FISCALÍA
                    #5	GAULA
                    ]
listaColumnasECNANT =['P54',
                    'P55',
                    'P56',
                    'P57A','P57B',      'P57C', 'P57D',   'P57E',       'P57F',  'P57G',     'P57H',    'P58', 
                    #hurto,delitosinfo, fraude, extorsion, hurto auto, ataque,  vandalsimo, secuestro, denuncio
                    'P59',
                    #1	APLICACIÓN A DENUNCIAR, 
                    # 2	CASA DE JUSTICIA (COMISARÍA DE FAMILIA)
                    #3	INSPECCIÓN DE POLICÍA (ESTACIÓN DE POLICÍA)
                    #4	URI DE LA FISCALÍA
                    #5	GAULA
                    'fax expansión'
                    ]
ECN2021 = pd.read_csv(ruta,encoding='iso-8859-1')
ECN2021ANT = pd.read_excel(ruta2)

ECN2021ANT = ECN2021ANT.loc[:, listaColumnasECNANT]
ECN2021ANT

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12836\4038374580.py:28: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  ECN2021 = pd.read_csv(ruta,encoding='iso-8859-1')

,P54,P55,P56,P57A,P57B,P57C,P57D,P57E,P57F,P57G,P57H,P58,P59,fax expansión
0,Parcialmente segura,Aumentó,Si,No,No,Si,No,No,No,No,No,Si,Aplicación A Denunciar,33.90526
1,Insegura,Aumentó,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.36765
2,Insegura,Aumentó,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.64583
3,Parcialmente segura,Aumentó,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.36765
4,Insegura,Siguió igual,Si,Si,No,No,No,No,Si,No,No,No,NaN,88.68720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2104,Insegura,Aumentó,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.15152
2105,Insegura,Aumentó,Si,Si,No,No,No,No,Si,No,No,Si,Inspección de policía (Estación de Policía),147.36765
2106,Insegura,Aumentó,Si,Si,No,No,Si,No,Si,Si,Si,Si,URI de la Fiscalía,33.13953
2107,Insegura,Aumentó,Si,No,No,Si,No,No,No,Si,No,Si,URI de la Fiscalía,30.48869
2108,Insegura,Aumentó,Si,Si,Si,Si,No,No,Si,Si,Si,Si,Inspección de policía (Estación de Policía),30.48869

2022

In [74]:
ruta ="Bases de datos/1.4. Bases CCB/ECN/2022/Base_2022.csv"
listaColumnasECN = ['P56',
                    'P57',
                    'P58', 
                    'P59.1', 'P59.2',  'P59.3', 'P59.4',  'P59.5',    'P59.6',  'P59.7',    'P59.8',   'P59.9', 'P60',
                    #hurto,delitosinfo, fraude, extorsion, ESTAFA,   hurto auto, ataque,  vandalsimo, secuestro, denuncio
                    'P61',
                    #1	Aplicación a denunciar
                    #2	Casa de Justicia (Comisaría de Familia)
                    #3	Inspección de policía (Estación de Policía) 
                    #4	URI de la Fiscalía
                    #5	GAULA
                    'F.EXPANSIÓN'
                    ]
ECN2022 = pd.read_csv(ruta,encoding='iso-8859-1')
ECN2022.head(20)
#ECN2022 = ECN2022.loc[:, listaColumnasECN]
ECN2022.sort_values(by='Id_encuestado')

,Id_encuesta,Id_encuestado,F1,F1.1,F2,F3,F4,P1,P2,P3,...,P59.4,P59.5,P59.6,P59.7,P59.8,P59.9,P60,P61,P63,F.EXPANSIÓN
1565,001GDC_Clima_de_los_Negocios,147729084,4,1,11001,3,1,2,45.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,441.329154
305,001GDC_Clima_de_los_Negocios,147729315,4,1,11001,1,1,1,54.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.813901
131,001GDC_Clima_de_los_Negocios,147730284,3,1,11001,1,1,1,69.0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,65.813901
811,001GDC_Clima_de_los_Negocios,147732033,4,1,25175,2,1,2,62.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,117.307305
1925,001GDC_Clima_de_los_Negocios,147737142,4,1,25779,3,1,1,37.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,117.307305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,001GDC_Clima_de_los_Negocios,154468042,4,1,11001,1,1,1,32.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,65.813901
1757,001GDC_Clima_de_los_Negocios,154469640,4,1,11001,1,1,2,33.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,65.813901
1832,001GDC_Clima_de_los_Negocios,154470052,4,1,11001,1,1,2,30.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,65.813901
1673,001GDC_Clima_de_los_Negocios,154495838,4,1,11001,1,1,2,27.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,65.813901
1375,001GDC_Clima_de_los_Negocios,154496049,4,1,11001,1,1,1,42.0,4,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,65.813901

<h4>datos del EPV

2019-1

In [34]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2019/2019-1/EPV_2019_1.xlsx"
EPV20191 = pd.read_excel(ruta)
EPV20191.head(3)

,ID_ENCUESTA,F2,EDAD,P6,P102,P103,P106,P128,P109,P117,...,P407_2,P407_3,P407_1_1,P412_1,P412_2,P412_3,P412_4,P412_5,P412_6,FEX
0,ik4443099b-dfa6-43cf-b4c6-42cae171a954,11,26.0,7,2.0,4.0,4.0,5.0,1.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2277.001543
1,ik3a9fed64-1cb4-422b-b18d-c4fc8759a7fe,14,30.0,1,4.0,4.0,4.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.709194
2,ikb82a37d9-f467-4784-b3fb-37d90818382a,14,34.0,2,4.0,4.0,4.0,5.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.709194

2019-2

In [35]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2019/2019-2/EPV_2019_2.xlsx"
EPV20192 = pd.read_excel(ruta)
EPV20192.head(3)

,ID_ENCUESTA,F2,EDAD,P6,P102,P103,P106,P128,P109,P117,...,P407_2,P407_3,P407_1_1,P412_1,P412_2,P412_3,P412_4,P412_5,P412_6,FEX
0,ik4443099b-dfa6-43cf-b4c6-42cae171a954,11,26.0,7,2.0,4.0,4.0,5.0,1.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2277.001543
1,ik3a9fed64-1cb4-422b-b18d-c4fc8759a7fe,14,30.0,1,4.0,4.0,4.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.709194
2,ikb82a37d9-f467-4784-b3fb-37d90818382a,14,34.0,2,4.0,4.0,4.0,5.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.709194

2020

In [36]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2020/EPV_2020.xlsx"
EPV2020 = pd.read_excel(ruta)
EPV2020.head(3)

,Id_Encuesta,Id_Encuestado,LOCALIDAD,P1.1 Rango de edad,ESTRATO,P1. ¿Cuántos años tiene? (ENC: ANOTE LA EDAD EXACTA Y TAMBIEN SELECCIONE EL RANGO),P6,P7,P106,P102,...,P407_C,P407_1,P412_A,P412_B,P412_C,P412_D,P412_E,P412_F,CLAVE,FEX
0,o 020SEG_Percepción_y_Victimización_en_Bogotá,1,Rafael Uribe,De 36 a 45 años,Estrato 3,43,Independiente,Femenino,Ha Aumentado,Inseguro,...,NaN,Todos los días,NaN,NaN,NaN,NaN,NaN,NaN,Rafael UribeEstrato 3,1534.636400
1,o 020SEG_Percepción_y_Victimización_en_Bogotá,2,Usaquén,De 36 a 45 años,Estrato 4,37,Empleado,Femenino,Ha disminuido,Seguro,...,NaN,De vez en cuando en el mes,NaN,NaN,NaN,NaN,NaN,NaN,UsaquénEstrato 4,1543.954394
2,o 020SEG_Percepción_y_Victimización_en_Bogotá,3,Chapinero,Más de 55 años,Estrato 6,68,Independiente,Masculino,Ha Aumentado,Seguro,...,Si,Algunos días de la semana,NaN,NaN,NaN,NaN,NaN,NaN,ChapineroEstrato 6,1560.374824

2021

In [38]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2021/EPV_2021.xlsx"
EPV2021 = pd.read_excel(ruta)
EPV2021.head(3)

,NUMERO,CONSECUTIVO,GENERO,EDAD,P1_RANGO_EDAD,LOCALIDAD,ESTRATO,P106,P102,P103,...,P407_C,P407_1,P412_A,P412_B,P412_C,P412_D,P412_E,P412_F,P6,FEX
0,37,1,1,29,3,1,1,4,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1100.314
1,21240,2,2,22,2,11,2,4,2,2,...,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1,1024.945
2,15465,3,1,62,10,10,3,4,1,2,...,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,6,1555.948

2022

In [39]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2022/EPV_2022.xlsx"
EPV2022 = pd.read_excel(ruta)
EPV2022.head(3)

,ID_ENCUESTA,ID_ENCUESTADO,LOCALIDAD,SEXO,ESTRATO,EDAD,EDADRANGO,P6,P106,P102,...,P407_1_1,P412_1,P412_2,P412_3,P412_4,P412_5,P412_6,FEX,_UUID,_INDEX
0,020SEG_PercepciÃ³n_y_VictimizaciÃ³n_en_BogotÃ¡,182915053,4,1,1,41.0,3,2,4,2,...,1.0,4.0,4.0,4.0,4.0,4.0,4.0,471.489789,5ba378bb-0405-4718-b40b-ccc8ab88d146,1830
1,020SEG_PercepciÃ³n_y_VictimizaciÃ³n_en_BogotÃ¡,184039071,5,1,1,71.0,6,6,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,471.489789,587271a5-1b42-419a-8785-624eb66debe5,3407
2,020SEG_PercepciÃ³n_y_VictimizaciÃ³n_en_BogotÃ¡,184116519,5,1,1,64.0,5,2,4,2,...,1.0,5.0,5.0,5.0,5.0,5.0,5.0,471.489789,8bbec0be-3e57-4193-9ee2-cbb42771eabf,3586

2023

In [40]:
ruta ="Bases de datos/1.4. Bases CCB/EPV/2023/EPV_2023.xlsx"
EPV2023 = pd.read_excel(ruta)
EPV2023.head(3)

,ID_INTERNO,NOMBRE_LOCALIDAD,NOMBRE_BARRIO,SEXO,ESTRATO,EDAD_EXACTA,EDAD_RANGO,P6_2,P6_2_1,P106,...,P407_3,P407_1_1,P412_1,P412_2,P412_3,P412_4,P412_5,P412_6,ID,FEX
0,9719,PUENTE ARANDA,GALAN,2,3,40.0,3,1,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,252055819,231.210990
1,13668,FONTIBON,BELEN FONTIBON,2,3,84.0,6,5,NaN,4,...,1.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,253885992,214.063311
2,12647,ANTONIO NARINO,EDUARDO FREY,2,3,70.0,5,5,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,253166336,44.118103

<h4>datos del EPC

2016

In [12]:
ruta ="Bases de datos/1.4. Bases adicionales/EPC/2016//Base2016.csv"
EPC2016 = pd.read_csv(ruta,encoding='iso-8859-1')
EPC2016.head(3)

,SbjNum,LOCALIDAD,CIUDAD_DEM,NSE,EDAD_DEM,SEXO_DEM,FRANJA_C,DIA_SEMANA,ZONA_DEM,COMUNA_DEM,...,CPP1_1,CPP1_2,CPP1_3,CPP1_4,CPP1_5,CPP1_6,CPP2,CPP3,CC9,Pon
0,38610336,19,11001,2,5,2,2,4,2,19,...,92,NaN,NaN,NaN,NaN,NaN,2,4,1,0.478224
1,38613530,19,11001,2,1,2,3,4,2,19,...,2,NaN,NaN,NaN,NaN,NaN,5,5,2,3.871609
2,38613727,19,11001,2,5,1,3,4,2,19,...,92,NaN,NaN,NaN,NaN,NaN,1,3,1,1.342815

2017

In [13]:
ruta ="Bases de datos/1.4. Bases adicionales/EPC/2017//Base2017.csv"
EPC2017 = pd.read_csv(ruta,encoding='iso-8859-1')
EPC2017.head(3)

,NUMERO,CIUDAD,ZONAS,LOCALIDAD_COMUNA,DuraciÃ³n,D_Rangos,EDAD,SEXO,NSE,CS2_Codes,...,CC10_1,CC10_2,CC10_3,CC10_4,CC10_5,CC10_6,CC10_7,CC10_8,CC10_9,PON
0,52415778,11001,3,15,38,3,4,2,2,93.0,...,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.184301
1,52415935,11001,3,15,51,4,1,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.084609
2,52415987,11001,1,8,39,3,1,2,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.548212

2018

In [14]:
ruta ="Bases de datos/1.4. Bases adicionales/EPC/2018//Base2018.csv"
EPC2018 = pd.read_csv(ruta,encoding='iso-8859-1')
EPC2018.head(3)

,NUMERO,CODANE,IDM,SECTOR,SECCION,MANZANA,ZONAS,LOCALIDAD_COMUNA,F0,F01,...,P02AUT2,COD_BARRIO,CIUDAD,NSE,GRUPO_ESTRATOS,EDAD,SEXO,FRANJA_CAMPO,DIA_SEMANA,PON
0,47739,11001,2161,7106.0,1.0,6,5,13,1,1,...,1,3,11001,4,2,4,2,1,4,0.667366
1,47750,11001,2286,8213.0,2.0,6,5,2,1,1,...,1,3,11001,3,2,2,2,1,4,0.804713
2,47756,11001,2351,8402.0,5.0,4,6,1,1,1,...,1,159,11001,5,3,3,1,1,4,1.093152

2019

In [15]:
ruta ="Bases de datos/1.4. Bases adicionales/EPC/2019//Base2019.csv"
EPC2019 = pd.read_csv(ruta,encoding='iso-8859-1')
EPC2019.head(3)

,Numero,IDM,SECTOR,SECCION,CIUDAD,NSE_CS2_1,NSE,EDAD,SEXO,OCUPACION,...,INCIDENCIAS_2,INCIDENCIAS_3,INCIDENCIAS_4,INCIDENCIAS_6,INCIDENCIAS_7,INCIDENCIAS_8,OBSERVACIONES_INCIDENCIAS,GEOLOCATION_LATITUDE,GEOLOCATION_LONGITUDE,PON
0,127741,1280,4519,1,11001,1,1,4,1,6,...,3,0,0,0,0,0,Ninguna,4.638867,-74.196262,0.792568
1,127753,217,1401,1,11001,3,3,1,2,3,...,0,0,0,0,0,0,Ninguna,4.579076,-74.104179,0.689350
2,127769,217,1401,1,11001,3,3,4,2,2,...,3,3,0,0,0,0,La encuesta es nuy larga y no se da incentivo,4.579651,-74.103776,0.427272

<h3>ETL</h3>

<h4>ECN

FActor de expanción función

In [77]:
def factor_exp(df, nombre_factor):
    df_expandido = pd.DataFrame()
    
    for columna in df.columns:
        if columna != nombre_factor:
            df_expandido[columna] = df[columna].repeat(df[nombre_factor].astype(int))
    return df_expandido

In [79]:
'fexp'
print(factor_exp(ECN2020, 'fexp'))
#ECN2020.dtypes
#ECN2020.isnull().sum()
#ECN2020.shape (2221, 16)
#sns.pairplot(data)
#plt.show()

      p_p64_p64  p_p65_p65  p_p66_p66  p_p67_p67_1  p_p67_p67_2  p_p67_p67_3
0             3        1.0          2          NaN          NaN          NaN  \
0             3        1.0          2          NaN          NaN          NaN
0             3        1.0          2          NaN          NaN          NaN
0             3        1.0          2          NaN          NaN          NaN
0             3        1.0          2          NaN          NaN          NaN
...         ...        ...        ...          ...          ...          ...
2220          2        2.0          2          NaN          NaN          NaN
2220          2        2.0          2          NaN          NaN          NaN
2220          2        2.0          2          NaN          NaN          NaN
2220          2        2.0          2          NaN          NaN          NaN
2220          2        2.0          2          NaN          NaN          NaN

      p_p67_p67_4  p_p67_p67_5  p_p67_p67_6  p_p68_p68  p_p69_p69_1
0             NaN          NaN          NaN        NaN          NaN  \
0             NaN          NaN          NaN        NaN          NaN
0             NaN          NaN          NaN        NaN          NaN
0             NaN          NaN          NaN        NaN          NaN
0             NaN          NaN          NaN        NaN          NaN
...           ...          ...          ...        ...          ...
2220          NaN          NaN          NaN        NaN          NaN
2220          NaN          NaN          NaN        NaN          NaN
2220          NaN          NaN          NaN        NaN          NaN
2220          NaN          NaN          NaN        NaN          NaN
2220          NaN          NaN          NaN        NaN          NaN

      p_p69_p69_2  p_p69_p69_3  p_p69_p69_4  p_p69_p69_5
0             NaN          NaN          NaN          NaN
0             NaN          NaN          NaN          NaN
0             NaN          NaN          NaN          NaN
0             NaN          NaN          NaN          NaN
0             NaN          NaN          NaN          NaN
...           ...          ...          ...          ...
2220          NaN          NaN          NaN          NaN
2220          NaN          NaN          NaN          NaN
2220          NaN          NaN          NaN          NaN
2220          NaN          NaN          NaN          NaN
2220          NaN          NaN          NaN          NaN

[170431 rows x 15 columns]